lemkin-pdf/
lemkin-json-from-html/
pdf_images/
znaki/
zdekodowane/
__pycache__/
.DS_Store
*.out
.venv/
.vscode/
*.gz
Past_slurm_outputs/
JSON_files/
job_athena.sh
*.xlsx
*.png
*.jpg
*.pdf
*.json
*.txt
.cache
To_repair/