lemkin-pdf/
lemkin-json-from-html/
pdf_images/
znaki/
Papers/
test_csv/
Checkpoints/
SLURM archive
jediexperiments/
zdekodowane/
To_show_archive/
__pycache__/
.DS_Store
*.out
.venv/
.vscode/
*.gz
Past_slurm_outputs/
JSON_files/
Images/
job_athena.sh
*.xlsx
*.png
*.jpg
*.pdf
*.json
*.txt
.cache
To_repair/
wyniki_wykresow/
qwen2-output/
test.py
Results_images
